.terms-container {
  /* margin-top:1600px; */
  color: #333;
}


.terms-banner {
  position: relative;
  background-image: url('/src/assets/images/homebanner.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  padding: 100px 20px;
  text-align: center;
  z-index: 1;
  width:100%;
}

.terms-banner::before{
     content: '';
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.7); /* semi-transparent dark layer */
  z-index: -1;
}

.terms-banner h1 {
  margin: 0;
  font-size: 3rem;
}


.terms-content {
  max-width: 900px;
  margin: 40px auto;
  padding: 0 20px;
  /* margin-bottom: 100px; */
}


.updated-date {
  font-style: italic;
  margin-bottom: 20px;
  color: #555;
}

.terms-content h2 {
  font-size: 1.5rem;
  margin-top: 30px;
  margin-bottom: 10px;
}

.terms-content p {
  margin-bottom: 16px;
  line-height: 1.6;
}

.terms-content ul {
  list-style-type: disc;
  padding-left: 20px;
}

.terms-content li {
  margin-bottom: 10px;
  line-height: 1.6;
}
