.home_filter_main_container {
  background: #ffffff;
  border-radius: 10px;
  max-width: 95%;
  height: auto;
  position: absolute;
  top: auto;
  left: 50%;
  z-index: 10;
  transform: translate(-50%, -50%);
}

.search_city_input_width {
  width: 21rem;
}

.input_design {
  border: 1px solid #dbe9f2;
  border-radius: 7px;
}

.search_city_input {
  width: 18rem;
}

.search_city_input::placeholder {
  color: #bcc7ce;
  font-size: 12px;
}

.property_type_input_width {
  width: 12rem;
}

.budget_input_width {
  width: 8rem;
}

.search_localities_dropdown_content {
  overflow-y: auto;
  max-height: 22rem;
  /* top: 1.83rem; */
  top: 1.8rem;
  width: 20.6rem;
  right: -0.58rem;
  /* box-shadow: 0px 0px 3px #68728433; */
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  background-color: white;
  z-index: 99999;
  visibility: visible;
  /* border-top: none; */
  /* border: 1px solid #EDF4F9; */
  border-left: 1px solid #dbe9f2;
  border-right: 1px solid #dbe9f2;
  border-bottom: 1px solid #dbe9f2;
}

.search_localities_dropdown_content::-webkit-scrollbar {
  width: 8px;
  height: 12px;
}

.search_localities_dropdown_content::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.search_localities_dropdown_content::-webkit-scrollbar-thumb {
  background: #bec4c4;
}

.search_localities_dropdown_content::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.home_header_image {
  width: 100%;
  height: auto;
  min-height: 12rem;
  /* object-fit: fill; */
}

.home_active_tab {
  color: #1d72db;
  border-bottom: 2px solid #1d72db;
  /* font-size: 16px; */
}

.home_inactive_tab {
  color: #323d5a;
}

.home_filter_container {
  border: 1px solid #dbe9f2;
  border-radius: 7px;
  max-width: fit-content;
}

.home_filter_btn_container {
  border: none;
  border-radius: 7px;
  max-width: fit-content;
}

.home_cards_container {
  /* margin-top: 5%; */
  min-height: 10rem;
  height: auto;
  background-color: #ffffff;
  /* overflow-y: scroll; */
}

.home_projectcard_container {
  background: #ffffff;
  /* box-shadow: 0px 3px 23px rgba(29, 114, 219, 0.05); */
  /* box-shadow: 0px 0px 5px #00000029; */
  /* box-shadow: 0px 0px 2px rgba(29, 114, 219, 0.5); */
  box-shadow: 0px 15px 35px rgba(29, 114, 219, 0.05) !important;
  border-radius: 12px;
  max-width: 35rem;
}

.see_more_projectcard_container {
  background: #ffffff;
  /* box-shadow: 0px 3px 23px rgba(29, 114, 219, 0.05); */
  /* box-shadow: 0px 0px 5px #00000029; */
  box-shadow: 0px 0px 2px rgba(29, 114, 219, 0.5);
  border-radius: 12px;
  width: 33rem;
}

.home_card_scroll_container {
  overflow-x: scroll;
  scroll-behavior: smooth;
}

.home_card_scroll_container::-webkit-scrollbar {
  display: none;
}

.cardImage_container {
  width: 100%;
  max-height: 21rem;
  max-width: 40rem;
  border-radius: 10px;
}

.active_btn {
  background: #50bf97;
  border-radius: 5px;
  color: #ffffff;
}

.active_btn_2 {
  background: #50bf97;
  border-radius: 5px;
  color: #ffffff;
  border: 1px solid #50bf97;
}

.non_active_btn_2 {
  background: #edf4f9;
  border-radius: 5px;
  border: 1px solid black;
}

.non_active_btn {
  background: #edf4f9;
  border-radius: 5px;
}

.home_villa_section_container {
  max-width: 100%;
}

.home_select_flat_contaoner {
  background: #edf4f9;
  border-radius: 10px;
  height: 4.8rem;
  justify-content: space-evenly;
}

.background_home_image {
  border-radius: 50px;
  max-width: 1200px;
  max-height: 31rem;
}

.subscribe_section {
  z-index: 1;
  padding-right: 550px;
}

.top_rated_section {
  height: 36rem;
}

.dropdown_search_field {
  border: 1px solid black;
  border-radius: 7px;
}

.dropdown_search_field::placeholder {
  color: black;
  /* padding-left: 5px; */
  font-size: 12px;
}

/* .home_agent_conatiner {
  position: relative;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat, repeat;
  height: 37.5rem;
  background-image: url("../../assets/images/home/background.jpg");
  background-position:  left, right;
} */
.slide_list_container {
  position: absolute;
  bottom: 10px;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

.slide_list {
  width: fit-content !important;
  height: fit-content !important;
  position: relative;
  display: inline-block;
  margin: 0 5px;
  padding: 10px;
  cursor: pointer;
}

.slide_active {
  border-radius: 50px;
  background-color: #09b44c;
  width: 12px;
  height: 12px;
}

.slide_inactive {
  border-radius: 50px;
  background-color: #cccccc;
  width: 12px;
  height: 12px;
}

@media only screen and (max-width: 992px) {
  .top_rated_section {
    height: 30rem;
    padding-bottom: 5rem;
    /* padding-top: 5rem; */
  }

  .background_home_image {
    max-height: 28rem;
  }

  .subscribe_section {
    z-index: 1;
    padding-right: 0px;
  }

  .home_filter_main_container {
    background: #ffffff;
    border-radius: 10px;
    max-width: 46rem;
    height: auto;
    position: absolute;
    top: auto;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .input_design {
    border: 1px solid #dbe9f2;
    border-radius: 7px;
  }

  .search_city_input {
    width: 12.5rem;
  }

  .search_city_input::placeholder {
    color: #bcc7ce;
    font-size: 12px;
  }

  .property_type_input_width {
    width: 8rem;
  }

  .budget_input_width {
    width: 6rem;
  }

  .home_villa_section_container {
    max-width: 100%;
  }

  .resi_villa_card_container {
    width: 20rem !important;
    box-shadow: 0px 3px 23px 0px #1d72db0d;
  }

  .search_localities_dropdown_content {
    /* top: 1.83rem; */
    top: 1.8rem;
    width: 16rem;
    right: -0.58rem;
    /* box-shadow: 0px 0px 3px #68728433; */
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    background-color: white;
    z-index: 99999;
    visibility: visible;
    /* border-top: none; */
    /* border: 1px solid #EDF4F9; */
    border-left: 1px solid #dbe9f2;
    border-right: 1px solid #dbe9f2;
    border-bottom: 1px solid #dbe9f2;
  }
}

@media only screen and (max-width: 768px) {

  /* .search_city_input {
    min-width: none;
  } */
  .background_home_image {
    max-height: 22rem;
  }

  .propertyFilterHide {
    display: none;
  }

  .home_filter_main_container {
    background: #ffffff;
    border-radius: 10px;
    max-width: 42rem;
    height: auto;
    position: absolute;
    top: auto;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .input_design {
    border: 1px solid #dbe9f2;
    border-radius: 7px;
  }

  .search_city_input {
    width: 15rem;
  }

  .search_city_input::placeholder {
    color: #bcc7ce;
    font-size: 10px;
  }

  .property_type_input_width {
    width: 8rem;
  }

  .budget_input_width {
    width: 4rem;
  }

  .resi_villa_card_container {
    width: 18rem !important;
    box-shadow: 0px 3px 23px 0px #1d72db0d;
  }

  .search_localities_dropdown_content {
    /* top: 1.83rem; */
    top: 1.65rem;
    width: 17.5rem;
    right: -0.58rem;
    /* box-shadow: 0px 0px 3px #68728433; */
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    background-color: white;
    z-index: 99999;
    visibility: visible;
    /* border-top: none; */
    /* border: 1px solid #EDF4F9; */
    border-left: 1px solid #dbe9f2;
    border-right: 1px solid #dbe9f2;
    border-bottom: 1px solid #dbe9f2;
  }

  .top_rated_section {
    height: 22rem;
    /* padding-bottom: 10rem; */
    padding-top: 8rem;
  }
}

@media only screen and (max-width: 675px) {
  .background_home_image {
    max-height: 20rem;
  }

  .top_rated_section {
    height: 20rem;
    padding-bottom: 10rem;
  }

  /* .resi_villa_card_container{
    width: 20rem !important;
    box-shadow: 0px 3px 23px 0px #1d72db0d;
  } */
}

@media only screen and (max-width: 500px) {
  .background_home_image {
    max-height: 16rem;
  }

  .top_rated_section {
    height: 20rem;
  }

  /* .home_select_flat_contaoner {
    background: #edf4f9;
    border-radius: 10px;
    height: 7.5rem !important;
    justify-content: space-evenly;
  } */
}

@media only screen and (max-width: 576px) {
  .background_home_image {
    max-height: 16rem;
  }

  .top_rated_section {
    height: 20rem;
    padding-bottom: 14rem;
  }

  .home_select_flat_contaoner {
    background: #edf4f9;
    border-radius: 10px;
    height: 6.75rem;
    justify-content: space-evenly;
  }

  .search_city_input {
    width: 10.5rem;
  }

  .property_type_input_width {
    width: 5rem;
  }

  .search_localities_dropdown_content {
    /* top: 1.83rem; */
    top: 1.55rem;
    width: 11.35rem;
    right: -0.285rem;
    /* box-shadow: 0px 0px 3px #68728433; */
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    background-color: white;
    z-index: 99999;
    visibility: visible;
    /* border-top: none; */
    /* border: 1px solid #EDF4F9; */
    border-left: 1px solid #dbe9f2;
    border-right: 1px solid #dbe9f2;
    border-bottom: 1px solid #dbe9f2;
  }
}

@media only screen and (max-width: 400px) {
  .home_select_flat_contaoner {
    background: #edf4f9;
    border-radius: 10px;
    height: 8rem;
    justify-content: space-evenly;
  }

  /* .search_city_input {
    width: 7rem;
  } */
  .property_type_input_width {
    width: 4rem;
  }

  .search_localities_dropdown_content {
    /* top: 1.83rem; */
    top: 1.55rem;
    width: 8.8rem;
    right: -0.3rem;
    /* box-shadow: 0px 0px 3px #68728433; */
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    background-color: white;
    z-index: 99999;
    visibility: visible;
    /* border-top: none; */
    /* border: 1px solid #EDF4F9; */
    border-left: 1px solid #dbe9f2;
    border-right: 1px solid #dbe9f2;
    border-bottom: 1px solid #dbe9f2;
  }

  .cardWidth {
    width: 20rem;
  }
}

.home_agent_image_conatiner {
  width: 100%;
  height: auto;
}

.home_email_input {
  border: 1px solid #ffffff;
  background: #ffffff;
  border-radius: 5px;
  max-width: 600px;
}

.home_email_input::placeholder {
  font-size: 14px;
  color: #bcc7ce;
}

.home_email_submit_btn {
  color: #ffffff;
  background: #1d72db;
  border-radius: 5px;
}

/*********home property card *******/
.home_properties_cards {
  width: 18rem;
  box-shadow: 0px 3px 23px 0px #1d72db0d;
}

.property_card_images {
  /* object-fit: cover; */
  border-radius: 20px;
}

.white_circle_icon {
  bottom: 0rem;
  right: 2rem;
}

.favourite_icon {
  bottom: 0.5rem;
  left: 0.6rem;
}

.overflow_x_scroll {
  overflow-x: scroll;
}

.scrollmenu {
  width: 100%;
}

.scrollmenu>.row {
  overflow-x: auto;
  flex-wrap: nowrap;
  scroll-behavior: smooth;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

.scrollmenu>.row::-webkit-scrollbar {
  display: none;
  scrollbar-width: none;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
}

.resi_villa_card_container {
  width: 20rem;
  box-shadow: 0px 3px 23px 0px #1d72db0d;
}

/* office space section */
.heding_container {
  max-width: 100%;
}

.sliderRightButtons {
  background: #ffffff;
  box-shadow: 0px 0px 20px rgba(50, 61, 90, 0.12);
  border-radius: 10px;
  transform: matrix(-1, 0, 0, 1, 0, 0);
  right: -1.4%;
  top: 40%;
}

.sliderLeftButtons {
  background: #ffffff;
  box-shadow: 0px 0px 20px rgba(50, 61, 90, 0.12);
  border-radius: 10px;
  transform: matrix(-1, 0, 0, 1, 0, 0);
  left: -1.3%;
  top: 40%;
}

.projSliderLeftButtons {
  background: #ffffff;
  box-shadow: 0px 0px 20px rgba(50, 61, 90, 0.12);
  border-radius: 10px;
  transform: matrix(-1, 0, 0, 1, 0, 0);
  left: -1%;
  top: 40%;
}

.projSliderRightButtons {
  background: #ffffff;
  box-shadow: 0px 0px 20px rgba(50, 61, 90, 0.12);
  border-radius: 10px;
  transform: matrix(-1, 0, 0, 1, 0, 0);
  right: -1%;
  top: 40%;
}

@media only screen and (max-width: 1400px) {
  .resi_villa_card_container {
    width: 17rem;
    box-shadow: 0px 3px 23px 0px #1d72db0d;
  }

  .heding_container {
    max-width: 66rem !important;
  }
}

/**********agent section********/
.agent_card_container {
  width: 17rem;
  /* background: black; */
  box-shadow: 0px 3px 23px -10px #1d72db0d;
}

.agentProfile {
  border-radius: 360%;
}

.agent_card_container:hover {
  transform: scale(1.1);
  transition-duration: 0.5s;
}

.cards_container {
  height: 27rem;
}

/* fsdfsdfsdf */
.scrolling_container {
  display: inline-flex;
  gap: 1.8rem;
  animation: scrolling 40s linear infinite;
  will-change: transform;
}

@keyframes scrolling {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-50%);
  }
}


/* 
.carouselslide {
  flex: 0 0 200px; 
  height: 200px; 
  background-color: #ccc;
  border-radius: 8px;
  margin: 10px; 
} */

/* .carousel .carouselslide.carousel-selected {
  width: 250px;
  height: 250px;
} */

.carouselContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.carouselWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* .carouselSlide {
  flex: 0 0 200px;
  height: 200px;
  background-color: #ccc;
  border-radius: 8px;
  margin: 10px;
} */

/* .centerSlide {
  flex: 0 0 250px;
  height: 250px;
} */

.sec-top {
  margin-top: 100px !important;

}
@media(max-width:800px){
    .sec-top {
    margin-top: -350px !important;
  }
  .search-filter-container {
    margin-top: 200px;
}

}
@media(max-width:600px) {
  .sec-top {
    margin-top: -500px !important;
  }
   .search-filter-container {
    margin-top: 500px;
}

}